/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ef4444 0%, #374151 75%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Container */
.login-container {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
}

/* Login Card */
.login-card {
  background: white;
  border-radius: 16px;
  padding: 2.5rem 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Logo Section */
.logo-section {
  margin-bottom: 2rem;
}

.logo {
  /* width: 60px;
  height: 60px; */
  margin: 0 auto 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8rem;
}

.logo i {
  transform: rotate(-45deg);
}

.login .logo-img {
  width: 150px;
  height: 150px;
}

.logo-section h1 {
  font-size: 27px;
  color: #c62222;
  margin-bottom: 0.5rem;
}

.logo-section p {
  color: #666;
  font-size: 1rem;
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Input Group */
.input-group {
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 0.9rem;
  font-weight: 500;
}

.input-group label i {
  margin-right: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.875rem 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-group input:focus {
  outline: none;
  border-color: #667eea;
}

/* Login Button */
.login-button-btn {
  background-color: #4b617f;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.login-button-btn:hover {
  background-color: #1e3a5f;
}

.login-button i {
  font-size: 1rem;
}

.icon-login {
  width: 25px;
  height: 25px;
}
